absl_py
aiohttp
aiosignal
antlr4_python3_runtime
async_timeout
attrs
bitarray
cachetools
certifi
cffi
charset_normalizer
colorama
Cython
# fairseq
filelock
frozenlist
fsspec
google_auth
google_auth_oauthlib
grpcio
hydra_core
idna
importlib_metadata
iopath
Jinja2
joblib
lightning_utilities
lxml
Markdown
MarkupSafe
mpmath
multidict
networkx
numpy
oauthlib
omegaconf
packaging
pandas
portalocker
protobuf
psutil
pyasn1
pyasn1_modules
pycparser
pyparsing
python-dateutil
pytorch_lightning
pytz
PyYAML
regex
requests
requests_oauthlib
rsa
sacrebleu
scikit_learn
scipy
simplejson
six
sympy
tabulate
tensorboard
tensorboard_data_server
threadpoolctl
torch
torch_geometric
torchaudio
torchmetrics
tqdm
typing_extensions
tzdata
urllib3
werkzeug
yarl
zipp
timm
wandb